{% extends 'layouts/default/page.html' %}
{% load static %}


{% load bootstrap4 %}
{% load i18n %}
{% block content %}
	<h3>Use AI to create a logo</h3>
	
	<form action="{% url 'chat:generate-logo' %}" method="post" id="basicimageform">
	{% csrf_token %}
	{% bootstrap_form form %}

	<button class="btn btn-primary" type="submit" >Generate logo</button>
	</form>

	<div class="result">

	</div>

	<script src="{% static 'chat/jquery-3.5.1.min.js' %}"></script>
	<script src="{% static 'chat/main.js' %}"></script>
{% endblock %}
