{% extends 'layouts/default/page.html' %}
{% load static %}


{% load bootstrap4 %}
{% load i18n %}
{% comment %} {% block content %}

	<h3>{% trans 'Simple conversation' %}</h3>
	<form action="{% url 'chat:home' %}" method="post" id="basicform">
	{% csrf_token %}
	{% bootstrap_form form %}

	<button class="btn btn-primary" type="submit" >{% trans 'Get one answer' %}</button>
	</form>

	<div>
	<ul class="result">
	</ul>
	</div>

	<script src="{% static 'chat/jquery-3.5.1.min.js' %}"></script>
	<script src="{% static 'chat/main.js' %}"></script>
{% endblock %} {% endcomment %}

{% comment %} https://github.com/farzadex-eth/DjangoChatGPT {% endcomment %}

{% block content %}
<h3>{% trans 'Simple conversation' %}</h3>
<div class="container"> 
<div class="row">
<div class="col-md-12">
<div class="chat-window">
    <div class="chat border" id="chatbox">
        <!-- Chat messages go here -->
    </div>
    <form action="{% url 'chat:home' %}" method="post" id="prompt-form">
        {% csrf_token %}
        <div class="input-group mb-3">
            <textarea type="text" name="prompt" id="prompt" class="form-control" placeholder="Type your prompt here..." row=3></textarea>
            <div class="input-group-append">
                <button class="btn btn-primary" type="submit" id="prompt-btn" >{% trans 'Get one answer' %}</button>
            </div>
        </div>
    </form>
</div>
</div>
</div>
</div>
{% endblock %}

